head{position: 0px 0px; background: orange;}
h1{background-color: blue; width: 75%; position: 35px 200px;}
body{background-color: #654186;}
a{background-color: white; float: laft; width: 75%; height: 100px; position: 25px 150px;}